<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bi.konstrictor.urudandaza">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VenteActivity"
            android:label="@string/kugurisha"
            android:parentActivityName=".MainDashBoardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ClientActivity"
            android:label="@string/abakiriya"
            android:parentActivityName=".MainDashBoardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HistoryActivity"
            android:label="@string/icegeranyo"
            android:parentActivityName=".MainDashBoardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IvyinjiraActivity"
            android:label="@string/title_activity_ivyinjira"
            android:parentActivityName=".MainDashBoardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StockActivity"
            android:label="@string/title_activity_ibidandazwa"
            android:parentActivityName=".MainDashBoardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainDashBoardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>